header {
  text-align: center;
}

.page-content {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.login-content {
  text-align: center;
}

.login-content button {
  height: 40px;
  width: 80px;
  margin: 0 6px;
}

.login-block {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-block input {
  height: 30px;
  width: 250px;
  padding: 0 10px;
}

.userinfo-content {
  width: 100%;
  text-align: center;
}

.userinfo-content img {
  width: 200px;
  height: 200px;
}
.userinfo-data-content {
  margin-top: 50px;
}
.userinfo-data-content p {
  display: flex;
  padding-right: 50px;
}
.userinfo-data-content p :first-child {
  flex: 1;
  text-align: right;
  padding-right: 30px;
}
.userinfo-data-content p :last-child {
  flex: 1;
  text-align: left;
  padding-left: 30px;
}
